* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

h1 {
    color: #343a40;
    margin-bottom: 20px;
}

.upload-section {
    margin-bottom: 20px;
}

.upload-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.upload-btn:hover {
    background-color: #0056b3;
}

#image-upload {
    display: none;
}

.image-preview img {
    max-width: 100%;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.resize-controls {
    margin-top: 20px;
}

.resize-controls div {
    margin-bottom: 15px;
}

input[type="number"] {
    padding: 10px;
    width: 100px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.download-btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.download-btn:hover {
    background-color: #0056b3;
}

#resize-btn:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}
